<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Porto Codes</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:title" content="Porto Codes" />
    <meta property="og:description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://porto.codes" />
    <meta property="og:image" content="https://porto.codes/images/logo.png" />
  </head>
  <body>
    <header role="banner">
      <a href="./index.html"><span>Porto</span> <span>Codes</span></a>
    </header>

    <nav role="navigation">
      <a href="./index.html">home</a>
      <a href="./speak.html">speak</a>
      <a href="./previous.html">past events</a>
      <a href="./podcast.html">podcast</a>
    </nav>

    <main>
      <section id="introduction">
        <p>
          Porto Codes is a monthly meet-up where we share technology related
          experiences. We meet on the second Thursday of each month.
        </p>
      </section>

      <section id="schedule">
        <h1>We're back!</h1>

        <p>
          We are picking up steam and trying to organize monthly events again.
          Help us by submitting a talk proposal!
        </p>

        <p>
          Reach us on <a href="https://masto.pt/@portocodes">mastodon</a>
          or <a href="https://twitter.com/portocodes">twitter</a>.
        </p>
      </section>

      <section id="schedule">
        <p>
          The next event is on <b>Thursday, {{current.human_date}}</b> at
          <b>{{current.schedule.first.start}}</b> at <b>{{current.location}}</b>.
        </p>

        <a href="https://www.meetup.com/portocodes/events/{{current.id}}/" class="cta">
         RSVP on our meetup page
        </a>

        {{#current}}
        <h1>Schedule</h1>

        <ol>
          {{#schedule}}
          <li>
            <time class="dt-start" datetime="{{date}} {{start}}">{{start}}</time>
            <p>{{title}}{{#speaker}}, by <a href="{{url}}">{{name}}</a>{{/speaker}}</p>

            <div class="p-summary">
              {{{summary}}}
            </div>
          </li>
          {{/schedule}}
        </ol>
        {{/current}}
      </section>

      <section id="upcoming">
        <h1>Upcoming events</h1>

        {{#editions}}
          <h2>{{title}}</h2>
          <p><b>{{human_date}}</b></p>

          {{{summary}}}

          {{#talks}}
          <p>{{title}}{{#speaker}}, by <a href="{{speaker.url}}">{{speaker.name}}</a>{{/speaker}}</p>
          {{{summary}}}
          {{/talks}}

          <a href="https://www.meetup.com/portocodes/events/{{id}}/" class="cta">
           RSVP on our meetup page
          </a>
        {{/editions}}
      </section>

      <section id="speak">
        <h1>Speak at Porto Codes</h1>

        <p>
          We're always looking for someone to speak at Porto Codes. We're
          pretty flexible when it comes to the topic, and we welcome all levels
          of expertise.
        </p>

        <p>If you do speak at Porto Codes, dinner and ice cream is on us!</p>

        <a class="cta" href="./speak.html">Submit a talk</a>
      </section>

      <section id="contact">
        <h1>Resources and stuff</h1>

        <p>You can find us on the following webs:</p>

        <ul>
          <li><a href="https://twitter.com/portocodes">twitter</a></li>
          <li><a href="https://www.meetup.com/portocodes">meetup</a></li>
          <li><a href="https://github.com/portocodes">github</a></li>
          <li><a href="https://invite.porto.codes">slack</a></li>
          <li><a href="https://www.youtube.com/channel/UC1zSOKJl5DhQmlxtEfPGrvw">youtube</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
