<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Porto Codes</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:title" content="Porto Codes" />
    <meta property="og:description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://porto.codes" />
    <meta property="og:image" content="https://porto.codes/images/logo.png" />
    <link rel='me' href='https://masto.pt/@portocodes' />
  </head>
  <body>
    <header role="banner">
      <a href="./index.html"><span>Porto</span> <span>Codes</span></a>
    </header>

    <nav role="navigation">
      <a href="./index.html">home</a>
      <a href="./speak.html">speak</a>
      <a href="./previous.html">past events</a>
      <a href="https://conversasemcodigo.pt">podcast</a>
    </nav>

    <main>
      <section id="introduction">
        <p>
          Porto Codes is a monthly meet-up where we share technology related
          experiences. We usually meet on the second Thursday of each month.
        </p>
      </section>

      <section id="schedule">
        <h1>We're back!</h1>

        <p>
          We are picking up steam and trying to organize monthly events again.
          Help us by submitting a talk proposal!
        </p>

        <p>
          Reach out to us via
          <a href="mailto:geral@porto.codes">email</a>,
          <a href="https://masto.pt/@portocodes">mastodon</a>, or
          <a href="https://twitter.com/portocodes">twitter</a>.
        </p>
      </section>

      {{#current}}
      <section id="schedule">
        <p>
          The next event is on <b>Thursday, {{current.human_date}}</b> at
          <b>{{current.schedule.first.start}}</b> at <b>{{current.location}}</b>.
        </p>

        <a href="{{current.meetup_url}}" class="cta">
         RSVP on our meetup page
        </a>

        <h1>Schedule</h1>

        <ol>
          {{#schedule}}
          <li>
            <div class='p-headline'>
              <time class="dt-start" datetime="{{date}} {{start}}">{{start}}</time>
              <span class='p-title'>{{title}}</span>{{#speaker}}, by <a href="{{url}}">{{name}}</a>{{/speaker}}</span>
            </div>

            <div class="p-summary">
              {{{summary_html}}}
            </div>
          </li>
          {{/schedule}}
        </ol>
      </section>
      {{/current}}

      <section id="upcoming">
        <h1>Upcoming events</h1>

        {{#next_events}}
          <h2>{{title}}</h2>
          <p><b>{{human_date}}</b></p>

          {{{summary_html}}}

          {{#schedule}}
          {{#talk?}}
          <p>{{title}}{{#speaker}}, by <a href="{{speaker.url}}">{{speaker.name}}</a>{{/speaker}}</p>
          {{{summary_html}}}
          {{/talk?}}
          {{/schedule}}

          <a href="{{meetup_url}}" class="cta">
           RSVP on our meetup page
          </a>
        {{/next_events}}
        {{^next_events}}
          <p>No additional events planned yet! We always need more speakers, so get in touch with us below.</p>
        {{/next_events}}
      </section>

      <section id="speak">
        <h1>Speak at Porto Codes</h1>

        <p>
          We're always looking for someone to speak at Porto Codes. We're
          pretty flexible when it comes to the topic, and we welcome all levels
          of expertise.
        </p>

        <p>If you do speak at Porto Codes, dinner and ice cream is on us!</p>

        <a class="cta" href="./speak.html">Submit a talk</a>
      </section>

      <section id="contact">
        <h1>Resources and stuff</h1>

        <p>You can find us on the following webs:</p>

        <ul>
          <li><a href="https://masto.pt/@portocodes">mastodon</a></li>
          <li><a href="https://twitter.com/portocodes">twitter</a></li>
          <li><a href="https://www.meetup.com/portocodes">meetup</a></li>
          <li><a href="https://github.com/portocodes">github</a></li>
          <li><a href="https://invite.porto.codes">slack</a></li>
          <li><a href="https://viste.pt/@porto.codes">peertube</a></li>
          <li><a href="https://www.youtube.com/@portocodes">youtube</a></li>
        </ul>
      </section>
      <section id="source">
        <h1>Source Code</h1>
        
        <p>Contribute or fork this website on <a href="https://github.com/portocodes/homepage">GitHub</a>
    </main>
  </body>
</html>
