<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Past events - Porto Codes</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:title" content="Past events - Porto Codes" />
    <meta property="og:description" content="Monthly tech event, every second Thursday of the month. Porto, Portugal" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://porto.codes/previous.html" />
    <meta property="og:image" content="https://porto.codes/images/logo.png" />
  </head>
  <body>
    <header role="banner">
      <a href="./index.html"><span>Porto</span> <span>Codes</span></a>
    </header>

    <nav role="navigation">
      <a href="./index.html">home</a>
      <a href="./speak.html">speak</a>
      <a href="./previous.html">past events</a>
      <a href="./podcast.html">podcast</a>
    </nav>

    <main>
      <section id="podcast">
        <h1>Past events</h1>

        <p>
          When available, here you will find links to the video and slides of
          previous talks.
        </p>

      </section>

      {{#editions}}
      <section id="{{date}}">
        <h2>
          <a aria-hidden="true" href="#{{date}}">
            <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>

          {{human_date}}
        </h2>

        {{#summary}}
        <p class="p-summary">{{.}}</p>
        {{/summary}}

        {{#talks}}
        <h3>{{title}}, by <a href="{{speaker.url}}">{{speaker.name}}</a></h3>

        <div>
          {{#video}}<a href="{{.}}">video</a>{{/video}}
          {{#slides}}<a href="{{.}}">slides</a>{{/slides}}
        </div>

        {{#summary}}<p class="p-summary">{{{.}}}</p>{{/summary}}
        {{/talks}}
      </section>

      {{/editions}}
    </main>
  </body>
</html>
