@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body
{
  width:100%;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-smoothing: antialiased;
}

a:hover {
  color: #880E4F;
}

#sidebar {
  box-shadow: 0 2px  5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.22);

  margin-left:-250px;
  left:250px;
  width:250px;
  position:fixed;
  height:100%;

  .brand {
    display: block;
    font-size: 20px;
    padding-bottom: 20px;

    img.logo {
      display: block;
      max-width: 100%;
      height: 170px;
    }

    h1.title {
      text-align: center;
      font-weight:800;
      margin: 0px;
      color:#607D8B;
      font-size:1.4em;
      margin-top: 10px;
      line-height: 60px;
    }
    .tagline {
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      color:#263238;
      margin: 0px;
      line-height: 20px;
    }
  }

  ul {
    list-style:none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;

    li {
      line-height: 40px;
      font-weight:200;
      a {
        color:#263238;
        display:block;

        &:hover {
          color:#000;
          background-color:rgba(0,0,0,0.05);
        }
      }
    }
  }

  .pages {
    li {
      text-indent: 60px;
    }
  }

  .social {
    li {
      text-indent:15px;
      i.fa {
        margin-right: 10px;
        vertical-align: middle;
      }

      .faux-fa-meetup {
        background: url(/images/fa-meetup2.svg) no-repeat;
        background-size: 14px 14px;
        background-position: right;
        opacity: 0.9;
        height: 14px;
        width: 30px;
        display: inline-block;
      }

      &:hover .faux-fa-meetup {
        opacity: 1.0;
      }
    }
  }
}

.content {
  h1 {
    color: white;
    background-color: #E91E63;
    font-weight: 300;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    padding: 60px 40px 80px 40px;
    margin: 0px 0px 0px 0px;
  }
}

#article {
  position: relative;
  padding: 40px 40px 20px;

  ul.posts {
    list-style:none;
    padding: 0px;
    margin: 0px;

    & > li {
      padding-bottom: 80px;
      h2 {
        height: 60px;
        line-height: 60px;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      p {
        line-height: 40px;
        height: 40px;
        margin: 0px;
      }
    }
  }

  .speaker-deck {
    position: absolute;
    top: -45px;

    img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 20%;
      margin: 0px 30px 0px 0px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.9),0 2px 10px 0 rgba(0,0,0,0.6);
    }
  }
}

h2 {
  color: #E91E63;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 50px;
  font-smoothing: antialiased;
}

a {
  color: #E91E63;
  text-decoration: none;
}

.container a
{
  border-bottom:1px #8a8a8a dotted;
  text-decoration:none
}

#wrapper
{
  padding-left:250px;
  transition:all .5s ease 0
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}

pre
{
  background:#f5f5f8
}

#article h1,#article h2,#article h3
{
  color:#3a3a3a
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
    padding-top: 20px;
  }

  .sidebar {
      border-right: 4px solid #d90006;
      border-top: none;
      left: 0px;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.7s ease 0s;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 15px 15px 0 15px;
  }

  #article {
      padding: 0 10px 0 10px;
  }
}
