<ul class="posts">
  <% for (slug in public.blog._data) {
    var article = public.blog._data[slug];
    %>
  <li>
    <h2><a href="/blog/<%= slug %>"><%= article.title %></a></h2>
    <time><%= article.date %></time>

    <%- partial('blog/'+ slug) %>
  </li>
  <% } %>
</ul>
